.display
{
    font-size: 20px;

    position: absolute;
    top: 20px;
    left: 50px;

    width: 400px;
    height: 300px;

    border: 1px solid grey;
    border-radius: 15px;
    background-color: #bababa;
}

.error
{
    font-size: 20px;

    color: red;
}


.display_content
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.display_content * {
    margin: 10px;
}
